<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.iticket.app"
		version   = "1.0.1">

	<name>iTicket 2.0</name>

	<description>
	Consulte el estado de sus ticket's de forma ágil, rápida y sencilla.
	</description>


	<preference name="phonegap-version" value="cli-5.2.0" />

	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />

	<preference name="fullscreen" value="true" />
	<icon src="img/icon_gde.png" />
	<gap:splash src="img/splash.png" />

	<preference name="splash-screen-duration" value="50000" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="android-minSdkVersion" value="5" />
	<preference name="android-targetSdkVersion" value="19" />
	<preference name="android-maxSdkVersion" value="19" />

	<author href="http://www.itris.com.ar" email="lcondori@itris.com.ar">
	@itrissoftware
	</author>

</widget>